---
title: "Elixir Tutorial"
description: "In this section, you'll learn how to deploy a Plug based application using Elixir."
tutorialTitle: "Getting started with Elixir"
url: "/tutorials/elixir/get-started/"
hidden: true
layout: false
---

{namespace elixirTutorials}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
