---
title: "Images"
hidden: true
---

{namespace pageImages}

/**
 *
 */
{template .render}
{/template}

/**
 *
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/updates/images/auth/'">
</head>
</html>
{/template}
